{% extends 'base.html' %}
{% block title %}Заметка{% endblock title %}

{% block content %}
<div id="note-detail">
    <h3 class="my-3 text-center">Заметка от {{ note.created_at }}</h3>
        <div class="container-fluid w-100">
            <div class="fw-bolder">Отметка "Избранное":</div>
                {% if note.is_chosen_one %}
                    <button class="btn btn-warning" id="i_id_{{ note.pk }}"
                            onclick="chosenOneNote('{{ note.pk }}', '{% url "chosen_one_note" %}')">Убрать</button>
                {% else %}
                    <button class="btn btn-outline-dark" id="i_id_{{ note.pk }}"
                            onclick="chosenOneNote('{{ note.pk }}', '{% url "chosen_one_note" %}')">Поставить</button>
                {% endif %}
            <div class="w-auto">
                <div class="fw-bolder">Заголовок:</div>
                    <p>{{ note.title }}</p>
                </div>
            <div class="w-auto">
                <div class="fw-bolder">Категория:</div>
                    <p>{{ note.category }}</p>
                </div>
                <div class="w-auto text-break">
                    <div class="fw-bolder">Текст заметки:</div>
                        <li class="list-group-item">
                            {{ note.text|safe }}
                        </li>
                    </div>
                </div>
                <br>
            <input type="text" readonly id="link-place" class="input-group-text form-control" value="" hidden="hidden">
        <div class="container">
            <div class="row mt-3">
                <button class="btn btn-outline-dark form-control" onclick="publishNote('{{ note.pk }}', '{% url "note_publish" %}')">Получить прямую ссылку редактирования</button>
            <p></p>
                <button class="btn btn-warning" onclick="updateNote('{{ note.pk }}', '{% url "note_update" %}')">Редактировать заметку</button>
            <p></p>
                <button class="btn btn-danger form-control" onclick="deleteNote('{{ note.pk }}', '{% url "note_delete" %}', true, '{{ from_link_flag }}', '{% url "note_list" %}')">Удалить заметку</button>
            </div>
        </div>
</div>
{% endblock content %}